:root { 
--gray_900_02:#0d0c22; 
--blue_gray_50:#f1f1f2; 
--deep_purple_A100_7f:#c597ff7f; 
--gray_800:#363c46; 
--blue_gray_600:#5a6475; 
--gray_900:#121417; 
--gray_900_01:#163300; 
--purple_900_01:#3d156c; 
--gray_200:#e6e7e9; 
--orange_300:#e3ad54; 
--gray_50:#faf9ff; 
--gray_100:#f4eff6; 
--black_900:#000000; 
--blue_gray_100_7f:#d0d0d07f; 
--teal_900:#002b31; 
--gray_200_01:#eeefef; 
--purple_900:#571f66; 
--blue_gray_800:#2c3e50; 
--blue_gray_900:#24282f; 
--white_A700:#ffffff; 
--purple_50:#efe4f2; 
}